# Disaster Tweets Classification Model (Kaggle Competition)

## 1. Load Libraries and Data

In [22]:
import pandas as pd
import nltk

In [4]:
trainDf = pd.read_csv('Datasets/train.csv', sep=',')
testDf = pd.read_csv('Datasets/test.csv', sep=',')

In [9]:
trainDf[trainDf['target']==1].count()

id          3271
keyword     3229
location    2196
text        3271
target      3271
dtype: int64

In [10]:
trainDf[trainDf['target']==0].count()

id          4342
keyword     4323
location    2884
text        4342
target      4342
dtype: int64

In [19]:
trainDf['keyword_flag'] = 0
trainDf['keyword_flag'] = trainDf['keyword'].isnull()
trainDf['location_flag'] = 0
trainDf['location_flag'] = trainDf['location'].isnull()

In [33]:
trainDf['text_len'] = 0
trainDf['text_len'] = trainDf['text'].str.split(' ').apply(len)

In [34]:
trainDf['']

,id,keyword,location,text,target,keyword_flag,location_flag,text_len
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,True,True,13
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,True,True,7
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,True,True,22
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,True,True,9
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,True,True,17
...,...,...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,True,True,11
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,True,True,20
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,True,True,8
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,True,True,19
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,True,True,13